@import "../../global.css";

.header-container{
    background-color: var(--brackground-color);
}

@media screen and (min-width: 370px){
    .header-container{
        display: absolute;
        flex-direction: column;
        width: 100%;
        height: 30rem;
        background-color: var(--brackground-color);
        border-bottom-left-radius: 3rem;
        font-family: 'Open sans', sans-serif;
    }

    .container-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-inline: 3rem;
    }

    .menu-button{
        border: none;
        background-color: transparent;
    }

    .menu-button img{
        width: 2rem;
        height: 2rem;
    }
}

