* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
}


:root{
    --background-color: #74b9ff;
    --background-menu-mobile: #ffffff;
    --text-color-light: #dfe6e9;
    --text-color-dark: #2d3436;
    --background-footer: #25252d;
}